
    <video #videoPlayer controls (loadedmetadata)="onLoadedMetadata($event)" 
          (play)="playPause(true)" (pause)="playPause(false)" (change)="onSeek($event)"
          class="embed-responsive embed-responsive-16by9 fixed-video-height" 
          [autoplay]="isPlaying" >
      <source *ngIf="videoUrl" [src]="videoUrl" type="video/mp4">
    </video>

<!-- <input type="range" min="0" max="1" step="0.01" [(ngModel)]="currentTime" (change)="onSeek($event)"> -->
<button (click)="playPause(!isPlaying)">
  {{ isPlaying ? 'Pause' : 'Play' }}
</button>
